.App-header {
  margin: 30px 0;
  background-color: white;
}

.App-logo {
  width: 150px;
  display: inline-block;
  margin-left: 50px;
  position: sticky;
}
.container {
  width: 50%;
  margin-left: 40px;
}
.footerContainer {
  margin-bottom: 5%;
}
