form {
  width: 100%;
  position: relative;
}
input {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
  position: relative;
  margin-top: 60px;
  margin-left: 0px;
  height: 100px;
  width: 600px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  outline: none;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

::-webkit-search-cancel-button {
  position: relative;
}

::placeholder {
  color: rgba(175, 173, 173, 0.493);
  font-weight: 100;
}
